# Files to ignore
*.dll
*.so
*.dylib

_cppwrapper.py
_cwrapper.py

# sumo_scenarios/i24/*.xml
# !sumo_scenarios/i24/I24_RDS.add.xml
# !sumo_scenarios/I24/I24_scenario.net.xml
# !sumo_scenarios/I24/I24_scenario.rou.xml

*.out.xml
**/*fcd.xml

# Folders to ignore
__pycache__/
data/

scripts/data/
scripts/__pycache__/